/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url(../img/cursor.cur), auto;
}

#app {
    position: relative;
    min-height: 100vh;
    padding-top: 50px;
    background-color: #000;
}

.vader {
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.vader.left {
    left: 20px;
}

.vader.right {
    right: 20px;
}

.container {
    position: relative;
    z-index: 1;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .1)
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header h1 {
    font-size: 80px;
    color: #e22424;
}

.main-header img {
    height: 150px;
}

.add-todo {
    display: flex;
    margin-top: 30px;
}

.add-todo input {
    outline: none;
    flex-grow: 1;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 10px;
    color: #e22424;
    background: #dfdfdf;
}

.add-todo .add {
    outline: none;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-left: 50px;
    text-transform: uppercase;
    background: #e22424;
    cursor: pointer;
}

.todo-list {
    margin-top: 50px;
}

.todo-list li{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    max-width: 100%;
}

.todo-list li span {
    padding-left: 30px;
}

.todo-list li:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background:#e22424;
    left: 34px;
    top: 33%;
    transition: width .6s;
}

.todo-list li.completed:before {
    width: 50%;
}

.todo-list li img{
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.todo-list li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.todo-list i:hover {
    color:#e22424;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}